<div class="row">
    <div class="home-top col-sm-12">
        <h3>Hi, I'm Kim</h3>
        <p>coder, foodie, traveler, yogi, lifelong learner</p>
    </div><!-- end home-top -->
</div><!-- end row -->

<section id="portfolio">
  <div class="container inner-portfolio">
    <!--<a class="filter" data-filter=".design, .web, .brending, .video">All</a>
    <a class="filter" data-filter=".design">design</a>
    <a class="filter" data-filter=".web">web</a>
    <a class="filter" data-filter=".brending">brending</a>
    <a class="filter" data-filter=".video">video</a>-->
    <div class="portfolio">
      <div class="mix" data-my-order="1">
        <!-- <img src="assets/portfolio/stonecask.jpg" alt="" /> -->
        <%= image_tag "portfolio/stonecask.jpg", alt: "Stone Cask" %>
        <div class="inner-item">
          <div class="text">
            <h6>Stone Cask</h6>
            <p><a href="http://www.stonecask.com" target="_blank">www.stonecask.com</a></p>
          </div>
          <!-- end text -->
        </div>
        <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="1">
        <!-- <img src="assets/portfolio/stonecask.jpg" alt="" /> -->
        <%= image_tag "portfolio/nostalgic_imprints.jpg", alt: "Nostalgic Imprints" %>
        <div class="inner-item">
          <div class="text">
            <h6>Nostalgic Imprints</h6>
            <p><a href="http://www.nostalgicimprints.com/" target="_blank">www.nostalgicimprints.com</a></p>
          </div>
          <!-- end text -->
        </div>
        <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="2">
          <%= image_tag "portfolio/mtv_shop.jpg", alt: "MTV Shop" %>
          <div class="inner-item">
            <div class="text">
              <h6>MTV Shop</h6>
              <p><a href="http://shop.mtv.com/" target="_blank">shop.mtv.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="3">
          <%= image_tag "portfolio/one_to_wed.jpg", alt: "One to Wed" %>
          <div class="inner-item">
            <div class="text">
              <h6>One to Wed</h6>
              <p><a href="http://www.onetowed.com/" target="_blank">www.onetowed.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="3">
          <%= image_tag "portfolio/henry_lawrence_presents.jpg", alt: "HLPresents" %>
          <div class="inner-item">
            <div class="text">
              <h6>HLPresents</h6>
              <p><a href="http://www.hlpresents.com" target="_blank">http://www.hlpresents.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="2">
          <%= image_tag "portfolio/carrington_college.jpg", alt: "Carrington College" %>
          <div class="inner-item">
            <div class="text">
              <h6>Carrington College</h6>
              <p><a href="http://carrington.edu/" target="_blank">carrington.edu</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="2">
          <%= image_tag "portfolio/azgne_home.jpg", alt: "AZGNE" %>
          <div class="inner-item">
            <div class="text">
              <h6>AZGNE</h6>
              <p><a href="http://www.azgne.org" target="_blank">www.azgne.org</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="2">
          <%= image_tag "portfolio/vantage_church.jpg", alt: "Vantage Church" %>
          <div class="inner-item">
            <div class="text">
              <h6>Vantage Church</h6>
              <p><a href="http://vantagechurch.com/" target="_blank">vantagechurch.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="4">
          <%= image_tag "portfolio/choosing_happiness.jpg", alt: "Choosing Happiness" %>
          <div class="inner-item">
            <div class="text">
              <h6>Choosing Happiness</h6>
              <p><a href="http://www.choosinghappiness.com" target="_blank">www.choosinghappiness.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="4">
          <%= image_tag "portfolio/casa_video.jpg", alt: "Casa Video" %>
          <div class="inner-item">
            <div class="text">
              <h6>Casa Video</h6>
              <p><a href="http://www.casavideo.com/" target="_blank">www.casavideo.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
      <div class="mix" data-my-order="4">
          <%= image_tag "portfolio/sfc_usa.jpg", alt: "SFC USA" %>
          <div class="inner-item">
            <div class="text">
              <h6>SFC USA</h6>
              <p><a href="http://sfcusa.org/" target="_blank">sfcusa.org</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end portfolio section -->