<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<% if current_user %>
	<p><%= link_to "edit", edit_post_path(@post) %></p>
	<p><%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Really delete the article?"} %></p>
<% end %>
<%= link_to "<< Back to Post List", posts_path %>
