
<section id="blog-post-no-sidebar">
  <div class="container blog-post-no-sidebar">
    <div class="row">
      <!-- start content -->
      <div class="col-sm-12 content">
        <article>
        	<div class="article-content">
						<h1><%= @post.title %></h1>
						<%= @post.content.html_safe %>
						<% if current_user %>
							<%= link_to 'Edit', edit_post_path(@post) %> | 
							<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					</div>
				</article>
        <!-- article -->
      </div>
      <!-- end content -->
    </div>
    <!-- end row -->
    <p><%= link_to "<< Back to Post List", posts_path %></p>
  </div>
  <!-- end container -->
</section>
<!-- end blog -->